#heading {
	text-align: center;
	background-color: lightcyan
}


#section{
	position:relative;
	width:100%;
	display: flex;
	
}

#table1 {
	margin-bottom: 1cm;
	table,th,td{
		border:1px solid black;

	}
}

#table2 {
		border:1px solid orange;
		
}

#table2 td, th{
		padding:10px;
		
}

#table3 tr{
	padding: 10px;
}

#table3 td{
	padding:10px;
	text-align: right;
}

#headingsText {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
	margin-bottom:1cm;
}

.menuBar {
	height: 40px;
	width: 100%;
	background-color: #2D5DA1;
}


.menuBar a{
	float: left;
	font-size: 16px;
	color:white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.nav{
	text-decoration: none;
}

.nutrition{
	font-size:10px;
	font-weight: bold;
}

.container {
    display: flex;
 	width: 100%;
}

.itemLeft {
   	flex: 45%;
}

.itemRight {
	flex: 55%;
}

.img{
	position:relative;
	width:95%;
}

.imgh1{
	text-align:left;
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
}

.imgtable{
	width:100%;
	margin-bottom:2cm;
}

.imgtable th{
	color: blue;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 25px;
}

.imgtable td{
	text-align:center;
	position:relative;
	width: 25%;
}

.imgtable img{
	position:relative;
	align:center;
	width:95%;
}

.imgTop{
	position: relative;
	width:95%;
}

.btn{
	height: 30px;
	width: 75px;
}

.circle {
	height: 100px;
	width: 100px;
	background-color: #ADADC9;
	border-radius: 50%;
	justify-content:center;
	align-items:center;
	display:flex;
	position:absolute;
	color:#D2042D;
	top:0;
	right:0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-right:15px;
	margin-top: 50px;
  }

  .footer td{
	padding:15px;
	text-align:center;
}

.footer {
	a:link, a:visited{
		text-decoration:none;
		color:black;
	}
}

.allReceipesTable {
	width: 100%;
}

#align {
	text-align:center;
	padding: 50px;
}
