#heading {
	text-align: center;
	background-color: lightcyan
}


#siteCreditsTable {
    table {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        border-collapse: collapse;
    }

    th,td {
        height: 30px;
        border:1px solid blue;
        border-collapse: collapse;
        text-align: center;
    }

}

.circle {
	height: 100px;
	width: 100px;
	background-color: #ADADC9;
	border-radius: 50%;
	justify-content:center;
	align-items:center;
	display:flex;
	position:absolute;
	color:#D2042D;
	top:0;
	right:0;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-right:15px;
	margin-top: 50px;
  }

  .footer td{
	padding:15px;
	text-align:center;
}

.footer {
	a:link, a:visited{
		text-decoration:none;
		color:black;
	}
}

#headingsText {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
	margin-bottom:1cm;
}