#heading {
	text-align: left;
}

#garlicNoodlesHeading { 
	text-align: center;
}

#table1 {
	table,th,td{
		border:1px solid black;

	}
}

#table2 {
		border:1px solid orange;
		
}

#table2 td, th{
		padding:10px;
		
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.button {
	background-color: #3e3c3c;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	position: relative;
	top:-2.5px;
	left:-2px
}

.menuSideBar {
	height: 40px;
	width: 1350px;
	background-color: #3e3c3c;
}

#menuText {
	text-align: center;
	background-color: #3e3c3c;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 1280px;
}

#recipeOfTheWeekText {
	color:blue;
}


#allRecipesText {
	color: blue;
	font-family: Arial, Helvetica, sans-serif;
}

#images {
	text-align:center;
}